<div class="row">

  <div class="col-sm-4 col-md-3">
    <div class="profile-display">

      <%= image_tag(@user.image, :class => 'main-profile-image') %> 

      <div class="user-username">
        @<%= @user.username %>
      </div>

      <div class="user-bio">
        <%= @user.bio %>
      </div>         

      <div class="user-location">
        <i class="fa fa-map-marker"></i>
          <%= @user.location %>
      </div>  

      <div class="user-created">
        <i class="fa fa-link"></i>
          www.somewebsite.com
      </div>   

      <div class="user-created">
        <i class="fa fa-clock-o"></i>
          Joined <%= @user.created_at.strftime("%b %d %y") %>
      </div>   

    </div>      
  </div>  <!-- col-md-4 --> 


  <div class="col-sm-8 col-md-9">

    <% @user.posts.each do |post| %>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 tweet-box">
        <div class="row">
          <div class="col-xs-4 col-sm-3 tweet-box-thumb">

              <%= image_tag(@user.image, :class => 'profile-thumbnail') %> 

          </div>
          <div class="col-xs-8 col-sm-9">
            <div class="tweet-box-content">    
              @<%= @user.username %> -
              <%= post.created_at.strftime("%b %d") %><br>
              <%= post.content %>
              <br>
              <i class="fa fa-trash-o"></i> <i class="fa fa-star-o"></i>

             <!--  <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure you want to remove your post?' } %> -->

          </div>
        </div>
      </div>
       
      </div> <!-- tweet-box -->    
    </div>
    <% end %>

  </div>  <!-- col-md-8 --> 

</div>  <!-- row --> 
















<!-- 
<nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav> -->






